/** Media Query Manager **/
/*
  0-600px:  Phone
  600px - 700px: Small tablet portrait
  600px - 900px: Tablet portrait
  900px- 1200px: Tablet landscape
  [1200px - 1800px]: is where normal styles apply
  1800px +: Big screens
  
  $breakpoint argument choices
  - phone
  - tab-port-small
  - tab-port
  - tab-land
  - big-screen
*/
/** fonts **/
/** colors **/
.btn-primary {
  background-color: #7b4cdf;
  color: #fff;
  text-transform: uppercase;
  padding: 1.6rem 3.5rem;
  font-size: 1.5rem;
  font-weight: 700;
  border: none;
  border-radius: 8rem;
  cursor: pointer; }

.btn-transparent {
  padding: 1rem 2.9rem;
  border: none;
  background-color: rgba(255, 255, 255, 0.3);
  color: #fff;
  font-size: 1.5rem;
  font-weight: 700;
  border-radius: 5rem;
  cursor: pointer; }

@media only screen and (max-width: 43.75em) and (orientation: portrait) {
  .btn--small {
    padding: 1.6rem 1.5rem;
    font-size: 8px; } }

.restaurant {
  padding: 2.2rem;
  border: 1px solid #e9e9e9;
  background-color: #fff;
  display: grid; }
  @media only screen and (max-width: 37.5em) and (orientation: portrait) {
    .restaurant {
      width: calc(100vw - 4rem);
      user-select: none;
      flex-shrink: 0;
      margin-right: 1rem;
      transition: transform 0.3s ease-in-out; }
      .grabbing .restaurant {
        transform: scale(0.9); } }
  .restaurant__img {
    width: 100%;
    object-fit: cover; }
  .restaurant > p {
    font-size: 1.4rem;
    color: #171c22b3;
    margin-bottom: 20px;
    margin-top: 5px; }
  .restaurant h3 {
    margin-top: 10px; }
  .restaurant__tags {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 1rem; }
  .restaurant__tag {
    background-color: #f8fafc;
    padding: 0.8rem 1.8rem;
    color: #7b4cdf;
    font-size: 14px;
    font-weight: 400; }
  .restaurant__info {
    margin-top: 5.3rem;
    position: relative;
    display: grid;
    grid-template-columns: min-content max-content 1fr;
    grid-template-rows: repeat(2, 1fr);
    column-gap: 2.2rem;
    align-items: center;
    justify-self: center; }
    .restaurant__info::before {
      content: '';
      position: absolute;
      top: -14px;
      width: 100%;
      height: 1px;
      background-color: #efefef; }
  .restaurant__logo {
    grid-row: 1 / -1;
    width: 3.8rem;
    height: 3.8rem; }
  .restaurant__star {
    fill: #fe8944;
    width: 14px;
    height: 14px; }
  .restaurant__open-hours {
    font-weight: 700;
    font-size: 1.2rem;
    color: #171c22b3; }
  .restaurant__location {
    grid-column: 2 / -1;
    color: #171c22b3;
    font-size: 1.2rem; }

.searchbar {
  background-color: #fff;
  min-height: 6.2rem;
  border-radius: 8rem;
  padding-right: 0.6rem;
  padding-left: 2rem;
  display: flex;
  width: max-content;
  align-items: center; }
  @media only screen and (max-width: 56.25em) and (orientation: portrait) {
    .searchbar {
      width: 100%; } }
  .searchbar__icon {
    fill: #9b9c9c;
    width: 15.75px;
    height: 18.41px;
    margin-right: 1rem; }
  .searchbar input {
    background: transparent;
    font-size: 1.4rem;
    border: none;
    margin-right: 1rem;
    width: max-content; }
    @media only screen and (max-width: 56.25em) and (orientation: portrait) {
      .searchbar input {
        width: 100%; } }
    .searchbar input:focus {
      outline: none; }
    .searchbar input::-webkit-input-placeholder {
      color: #9b9c9c; }

.searchbar--footer {
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.5);
  width: 100%;
  min-height: 8rem;
  display: flex;
  align-items: center;
  padding-left: 3rem;
  padding-right: 1.5rem;
  border-radius: 8rem; }
  @media only screen and (max-width: 43.75em) and (orientation: portrait) {
    .searchbar--footer {
      width: 100%;
      min-height: 4.4rem;
      padding: 1rem;
      padding-left: 3rem; } }
  .searchbar--footer input {
    background: transparent;
    flex: 1;
    color: #fff;
    font-size: 1.6rem;
    border: none; }
    @media only screen and (max-width: 43.75em) and (orientation: portrait) {
      .searchbar--footer input {
        font-size: 10px;
        font-weight: 400; } }
    .searchbar--footer input:focus {
      outline: none; }
    .searchbar--footer input::-webkit-input-placeholder {
      color: rgba(132, 132, 132, 0.8); }

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }
  @media only screen and (min-width: 112.5em) {
    html {
      font-size: 75%; } }
  @media only screen and (max-width: 75em) {
    html {
      font-size: 56.25%; } }
  @media only screen and (max-width: 56.25em) and (orientation: portrait) {
    html {
      font-size: 50%; } }

body {
  box-sizing: border-box;
  font-family: "DM Sans", sans-serif;
  color: #01060e;
  font-weight: 300;
  line-height: 1.6; }

.container {
  display: grid;
  grid-template-rows: [full-start] 3.8rem [padding-start header-start] 90vh [header-end] repeat(3, max-content) [full-end];
  grid-template-columns: [full-start] 3rem [padding-start] 13rem [center-start] repeat(3, [col-start] minmax(min-content, 1fr) [col-end]) [center-end] 13rem [padding-end] 3rem [full-end];
  /*@media only screen and (max-height: 35em) {
    grid-template-rows:
      [full-start] 3.8rem [padding-start header-start] 1fr [header-end] repeat(
        3,
        min-content
      )
      [full-end];
  }*/ }
  @media only screen and (max-width: 43.75em) and (orientation: portrait) {
    .container {
      grid-template-rows: [full-start] 3.8rem [padding-start header-start] 75vh [header-end] repeat(3, max-content) [full-end];
      grid-template-columns: [full-start] 2rem [padding-start] 13rem [center-start] repeat(3, [col-start] minmax(min-content, 1fr) [col-end]) [center-end] 13rem [padding-end] 2rem [full-end]; } }
  @media only screen and (max-height: 46.875em) {
    .container {
      grid-template-rows: [full-start] 3.8rem [padding-start header-start] 1fr [header-end] repeat(3, min-content) [full-end]; } }

.heading-1 {
  font-size: 5.5rem;
  font-weight: 700;
  line-height: 1.2;
  color: #fff; }
  @media only screen and (max-width: 75em) {
    .heading-1 {
      font-size: 4.4rem; } }
  @media only screen and (max-width: 56.25em) and (orientation: portrait) {
    .heading-1 {
      font-size: 4.2rem; } }
  @media only screen and (max-width: 37.5em) and (orientation: portrait) {
    .heading-1 {
      font-size: 4rem; } }

.heading-2 {
  font-size: 4rem;
  font-weight: 500; }

.heading-3 {
  font-size: 3.2rem;
  font-weight: 700;
  color: #fff; }
  @media only screen and (max-width: 43.75em) and (orientation: portrait) {
    .heading-3 {
      font-size: 3rem;
      font-weight: 500; } }

.heading-4 {
  font-size: 2.5rem;
  font-weight: 500; }

.grabbing {
  cursor: grabbing !important; }

.indicator__item--selected {
  background-color: #7b4cdf !important; }

.footer {
  background-color: #000;
  grid-column: full-start / full-end;
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 9rem;
  position: relative;
  padding: 21.5rem 3rem 4.14rem 3rem; }
  @media only screen and (max-width: 43.75em) and (orientation: portrait) {
    .footer {
      padding: 9rem 2rem 2rem 2rem;
      row-gap: 6rem; } }
  .footer__cta {
    display: grid;
    justify-items: center;
    grid-column: 1 / -1;
    width: 40%;
    justify-self: center;
    margin-bottom: 5.5rem; }
    @media only screen and (max-width: 43.75em) and (orientation: portrait) {
      .footer__cta {
        width: 100%;
        margin-bottom: 1rem;
        margin-bottom: 4rem; } }
    .footer__cta p {
      color: rgba(255, 255, 255, 0.7);
      font-weight: 400;
      font-size: 1.7rem;
      text-align: center;
      margin-top: 1.6rem;
      margin-bottom: 5rem; }
      @media only screen and (max-width: 43.75em) and (orientation: portrait) {
        .footer__cta p {
          color: #fff;
          font-size: 1.4rem;
          margin-bottom: 3.5rem; } }
  .footer__special-offer, .footer__delivery-details {
    display: grid;
    margin: auto; }
    @media only screen and (max-width: 43.75em) and (orientation: portrait) {
      .footer__special-offer, .footer__delivery-details {
        grid-column: 1 / -1;
        margin: unset; } }
    .footer__special-offer p, .footer__delivery-details p {
      color: rgba(255, 255, 255, 0.6);
      font-weight: 300;
      font-size: 1.6rem;
      margin-top: 2rem; }
    .footer__special-offer a, .footer__delivery-details a {
      color: #fff;
      font-weight: 400;
      font-size: 1.5rem;
      text-decoration: none;
      text-transform: uppercase;
      margin-top: 2.7rem;
      display: flex;
      align-items: center; }
      @media only screen and (max-width: 43.75em) and (orientation: portrait) {
        .footer__special-offer a, .footer__delivery-details a {
          font-weight: 700;
          margin-top: 2.7rem; } }
  .footer__special-offer::before {
    content: '';
    position: absolute;
    background-color: rgba(65, 65, 65, 0.7);
    height: 20rem;
    width: 1px;
    right: 50%;
    top: 62%; }
    @media only screen and (max-width: 43.75em) and (orientation: portrait) {
      .footer__special-offer::before {
        display: none; } }
  .footer__icon {
    margin-bottom: 3rem;
    height: 5.993rem; }
    @media only screen and (max-width: 43.75em) and (orientation: portrait) {
      .footer__icon {
        height: 4.2rem; } }
  .footer__end {
    grid-column: 1 / -1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative; }
    @media only screen and (max-width: 43.75em) and (orientation: portrait) {
      .footer__end {
        flex-wrap: wrap;
        row-gap: 1.9rem; } }
    .footer__end::before {
      content: '';
      width: 100%;
      height: 1px;
      background-color: rgba(65, 65, 65, 0.7);
      position: absolute;
      top: -4rem; }
      @media only screen and (max-width: 43.75em) and (orientation: portrait) {
        .footer__end::before {
          display: none; } }
  .footer__nav {
    display: flex;
    column-gap: 5.5rem;
    list-style: none; }
    @media only screen and (max-width: 43.75em) and (orientation: portrait) {
      .footer__nav {
        flex-direction: column;
        flex-basis: 100%;
        row-gap: 1.5rem;
        margin-top: 0.2rem;
        margin-bottom: 10.9rem; } }
    .footer__nav__link {
      text-decoration: none;
      color: #90959a;
      font-size: 1.6rem;
      font-weight: 300; }
  .footer__logo {
    width: 8.886rem;
    height: 2.76rem; }
    @media only screen and (max-width: 43.75em) and (orientation: portrait) {
      .footer__logo {
        margin: auto; } }
  .footer__copyright-text {
    color: rgba(255, 255, 255, 0.3);
    font-size: 1.6rem;
    font-weight: 300;
    max-width: 33.33%;
    text-align: center; }
    @media only screen and (max-width: 43.75em) and (orientation: portrait) {
      .footer__copyright-text {
        flex-basis: 100%;
        max-width: unset; } }

.header {
  grid-row: padding-start / header-end;
  grid-column: padding-start / padding-end;
  background-color: #7b4cdf;
  display: flex;
  flex-direction: column; }
  @media only screen and (max-width: 56.25em) and (orientation: portrait) {
    .header {
      grid-row: full-start / header-end;
      grid-column: full-start / full-end; } }
  .header__content {
    flex: 1;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    align-items: center;
    margin: 3.75rem 3rem 0 13rem; }
    @media only screen and (max-width: 56.25em) and (orientation: portrait) {
      .header__content {
        margin-left: 3rem;
        grid-template-columns: repeat(auto-fit, minmax(52rem, 1fr)); } }
    @media only screen and (max-width: 37.5em) and (orientation: portrait) {
      .header__content {
        margin: 2rem;
        grid-template-columns: repeat(auto-fit, minmax(36rem, 1fr));
        row-gap: 4.8rem; } }
    @media only screen and (max-height: 40.625em) {
      .header__content {
        grid-template-columns: repeat(auto-fit, minmax(33rem, 1fr)); } }
    .header__content__col-1 {
      padding-right: 6rem;
      z-index: 2; }
      @media only screen and (max-width: 56.25em) and (orientation: portrait) {
        .header__content__col-1 {
          padding-top: 5rem;
          padding-right: 0; } }
      @media only screen and (max-width: 37.5em) and (orientation: portrait) {
        .header__content__col-1 {
          padding-top: 0; } }
      .header__content__col-1 > p {
        font-size: 1.5rem;
        line-height: 1.8;
        font-weight: 300;
        color: #fff;
        margin: 3rem 0; }
    .header__content__col-2 {
      z-index: 1; }
    .header__content__row {
      margin-left: 3rem;
      margin-bottom: 3.25rem;
      font-size: 1.6rem; }
      @media only screen and (max-width: 37.5em) and (orientation: portrait) {
        .header__content__row {
          margin-left: 0; } }
      .header__content__row a {
        color: #fff;
        font-weight: 700; }
        .header__content__row a:last-child {
          text-decoration: none; }
      .header__content__row span {
        margin: 0 1.5rem;
        color: rgba(255, 255, 255, 0.3);
        font-weight: 300; }
  .header__img {
    width: 100%;
    scale: 1.25;
    transform: translateX(-15%); }
    @media only screen and (max-width: 75em) {
      .header__img {
        transform: none;
        scale: 1; } }
    @media only screen and (min-width: 43.75rem) and (max-width: 54.9em) {
      .header__img {
        scale: 0.7; } }
    @media only screen and (max-width: 37.5em) and (orientation: portrait) {
      .header__img {
        scale: 1; } }

.nav {
  margin: 3.5rem 6.2rem 0 6.2rem;
  position: relative;
  display: flex;
  align-items: center; }
  @media only screen and (max-width: 75em) {
    .nav {
      margin: 2.5rem 3rem;
      margin-bottom: 0; } }
  @media only screen and (max-width: 43.75em) {
    .nav {
      justify-content: space-between; } }
  @media only screen and (max-width: 37.5em) and (orientation: portrait) {
    .nav {
      margin: 2.5rem 2rem; } }
  .nav__logo {
    width: 9.3rem;
    height: 3.9rem;
    object-fit: contain;
    margin: 0 5rem; }
    @media only screen and (max-width: 56.25em) and (orientation: portrait) {
      .nav__logo {
        margin-left: 0; } }
  .nav__list {
    list-style: none;
    display: flex;
    flex: 1;
    flex-wrap: wrap;
    row-gap: 1.5rem; }
    @media only screen and (max-width: 43.75em) {
      .nav__list {
        width: 100%;
        position: absolute;
        top: 5rem;
        display: inline-block; } }
  .nav__item a:link, .nav__item a:visited {
    font-size: 1.6rem;
    font-weight: 300;
    color: rgba(255, 255, 255, 0.6);
    text-decoration: none; }
  .nav * a {
    color: #fff;
    font-weight: 500;
    font-size: 1.6rem;
    text-decoration: none;
    margin-right: 3.6rem; }
  .nav__buttons {
    margin: 0 5rem; }
    @media only screen and (max-width: 56.25em) and (orientation: portrait) {
      .nav__buttons {
        margin-right: 0; } }
    @media only screen and (max-width: 43.75em) {
      .nav__buttons {
        display: none; } }
  .nav::before {
    content: '';
    width: 100%;
    height: 1px;
    background-color: rgba(202, 211, 219, 0.3);
    position: absolute;
    bottom: -3.75rem; }
    @media only screen and (max-width: 43.75em) {
      .nav::before {
        display: none; } }
  .nav--hidden {
    transform: translateX(-100%); }
  .nav--grid {
    z-index: 3;
    background-color: #7b4cdf;
    height: 86.3vh;
    display: grid;
    grid-auto-rows: 3.5rem;
    align-items: center;
    justify-items: start;
    grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr)); }
    .nav--grid li a {
      color: #fff !important;
      font-weight: 400 !important;
      font-size: 2rem !important; }
  .nav__toggle {
    margin-top: 10px; }
    @media only screen and (min-width: 43.8125em) {
      .nav__toggle {
        display: none; } }
    .nav__toggle__checkbox {
      display: none; }
    .nav__toggle:hover .nav__toggle__icon::before {
      top: -1rem; }
    .nav__toggle:hover .nav__toggle__icon::after {
      top: 1rem; }
    .nav__toggle__button {
      cursor: pointer; }
    .nav__toggle__icon {
      position: relative; }
      .nav__toggle__icon, .nav__toggle__icon::before, .nav__toggle__icon::after {
        width: 18px;
        height: 2px;
        background-color: #fff;
        display: inline-block; }
      .nav__toggle__icon::before, .nav__toggle__icon::after {
        content: '';
        position: absolute;
        left: 0;
        transition: all 0.1s; }
      .nav__toggle__icon::before {
        top: -0.8rem; }
      .nav__toggle__icon::after {
        top: 0.9rem; }
    .nav__toggle__checkbox:checked + .nav__toggle__button .nav__toggle__icon {
      background-color: transparent; }
    .nav__toggle__checkbox:checked + .nav__toggle__button .nav__toggle__icon::before {
      top: 0;
      transform: rotate(135deg); }
    .nav__toggle__checkbox:checked + .nav__toggle__button .nav__toggle__icon::after {
      top: 0;
      transform: rotate(-135deg); }

.featured {
  background-color: #f8fafc;
  grid-column: full-start / full-end;
  padding: 11.4rem 16rem; }
  @media only screen and (max-width: 51.9375em) {
    .featured {
      padding: 12rem 3rem; } }
  @media only screen and (max-width: 43.75em) and (orientation: portrait) {
    .featured {
      padding: 11.4rem 2rem;
      overflow: hidden; } }
  @media only screen and (max-width: 37.5em) and (orientation: portrait) {
    .featured {
      background-color: #fff;
      padding: 0;
      padding-top: 12rem; } }
  .featured__header {
    display: grid;
    grid-template-columns: 0.5fr 1fr max-content;
    align-items: center;
    gap: 8rem;
    margin-bottom: 6rem; }
    .featured__header p {
      color: #5c5d5f;
      font-size: 1.4rem; }
  .featured__restaurants {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap: 3rem;
    justify-items: center;
    margin-bottom: 12rem; }
    @media only screen and (max-width: 56.25em) and (orientation: portrait) {
      .featured__restaurants {
        grid-template-columns: repeat(auto-fit, minmax(34.5rem, 1fr)); } }
    @media only screen and (max-width: 37.5em) and (orientation: portrait) {
      .featured__restaurants {
        width: calc(100vw - 2rem);
        display: inline-flex;
        cursor: grab;
        transform: translateX(0);
        transition: transform 0.3s ease-out;
        margin-left: 2rem;
        margin-bottom: 0; } }
    .featured__restaurants__indicator {
      width: 100%;
      display: flex;
      justify-content: center;
      margin-top: 4rem;
      margin-bottom: 12rem;
      user-select: none; }
      .featured__restaurants__indicator span {
        width: 16px;
        height: 16px;
        border-radius: 50%;
        background-color: rgba(123, 76, 223, 0.1); }
        .featured__restaurants__indicator span:not(:last-child) {
          margin-right: 18px; }
