/** fonts **/
$font-primary: 'DM Sans';
$default-font-size: 1.6rem;

/** colors **/
$color-primary: #7b4cdf;

$color-dark: #01060e;

$color-grey: #5c5d5f;
$color-grey-2: #cad3db;
$color-grey-light-1: #f8fafc;
$color-grey-light-2: #efefef;
$color-grey-light-3: #e9e9e9;

$color-grey-dark-1: #171c22b3;
