.searchbar {
  background-color: #fff;
  min-height: 6.2rem;
  border-radius: 8rem;
  padding-right: 0.6rem;
  padding-left: 2rem;
  display: flex;
  width: max-content;
  align-items: center;

  @include respond(tab-port) {
    width: 100%;
  }

  &__icon {
    fill: $color-grey-3;
    width: 15.75px;
    height: 18.41px;
    margin-right: 1rem;
  }

  input {
    background: transparent;
    font-size: 1.4rem;
    border: none;
    margin-right: 1rem;
    width: max-content;

    @include respond(tab-port) {
      width: 100%;
    }

    &:focus {
      outline: none;
    }

    &::-webkit-input-placeholder {
      color: $color-grey-3;
    }
  }
}

.searchbar--footer {
  background-color: transparent;
  border: 1px solid rgba(#fff, 0.5);
  width: 100%;
  min-height: 8rem;
  display: flex;
  align-items: center;
  padding-left: 3rem;
  padding-right: 1.5rem;
  border-radius: 8rem;

  @include respond(tab-port-small) {
    width: 100%;
    min-height: 4.4rem;
    padding: 1rem;
    padding-left: 3rem;
  }

  input {
    background: transparent;
    flex: 1;
    color: #fff;
    font-size: 1.6rem;
    border: none;

    @include respond(tab-port-small) {
      font-size: 10px;
      font-weight: 400;
    }

    &:focus {
      outline: none;
    }

    &::-webkit-input-placeholder {
      color: rgba(132, 132, 132, 0.8);
    }
  }
}
