*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%; // 10px/16px = 62.5% -> 1rem = 10px
}

body {
  font-family: $font-primary, sans-serif;
  color: $color-dark;
  font-weight: 300;
  line-height: 1.6;
}

.container {
  display: grid;
  // todo minmax 15rem
  grid-template-columns:
    [full-start] 15rem [center-start] repeat(
      3,
      [col-start] minmax(min-content, 1fr) [col-end]
    )
    [center-end] 15rem [full-end];
}
