*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%; // 10/16 -> 1rem = 10px

  @include respond(tab-land) {
    font-size: 56.25%; // 9/16 -> 1rem = 9px
  }

  @include respond(tab-port) {
    font-size: 50%; // 8/16 -> 1rem = 8px
  }

  @include respond(big-screen) {
    font-size: 75%; //  12/16  -> 1rem = 12px
  }
}

body {
  box-sizing: border-box;
  font-family: $font-primary, sans-serif;
  color: $color-dark;
  font-weight: 300;
  line-height: 1.6;
}

.container {
  display: grid;
  // todo minmax 16.8rem
  // revize 85%
  grid-template-rows:
    [full-start] 3.8rem [padding-start header-start] 90vh [header-end] repeat(
      3,
      max-content
    )
    [full-end];
  grid-template-columns:
    [full-start] 3rem [padding-start] 13rem [center-start] repeat(
      3,
      [col-start] minmax(min-content, 1fr) [col-end]
    )
    [center-end] 13rem [padding-end ] 3rem [full-end ];

  @include respond(phone) {
    grid-template-rows:
      [full-start] 3.8rem [padding-start header-start] 75vh [header-end] repeat(
        3,
        max-content
      )
      [full-end];
    grid-template-columns:
      [full-start] 2rem [padding-start] 13rem [center-start] repeat(
        3,
        [col-start] minmax(min-content, 1fr) [col-end]
      )
      [center-end] 13rem [padding-end ] 2rem [full-end ];
  }

  @media only screen and (max-height: 46.875em) {
    grid-template-rows:
      [full-start] 3.8rem [padding-start header-start] 1fr [header-end] repeat(
        3,
        min-content
      )
      [full-end];
  }

  /*@media only screen and (max-height: 35em) {
    grid-template-rows:
      [full-start] 3.8rem [padding-start header-start] 1fr [header-end] repeat(
        3,
        min-content
      )
      [full-end];
  }*/

  // use 1fr instead of doing multiple breakpoints , adjust paddings for phone media query

  //another breakpoint for 568 ?? kk or set it to > 100vh abive ??
  // make header fixed ??
}
