.heading-1 {
  font-size: 5.5rem;
  font-weight: 700;
  line-height: 1.2;
  color: #fff;
}

.heading-2 {
  font-size: 4rem;
  font-weight: 500;
}

.heading-3 {
  font-size: 2.5rem;
  font-weight: 500;
}
