.process {
}

.featured {
  background-color: $color-grey-light-1;
  grid-column: full-start / full-end;
  padding: 11.4rem 16rem;

  @media only screen and (max-width: 51.9375em) {
    padding: 12rem 3rem;
  }

  @include respond(tab-port-small) {
    padding: 11.4rem 2rem;
  }

  @include respond(phone) {
    background-color: #fff;
    padding: 12rem 2rem;
    overflow: hidden;
  }

  &__header {
    display: grid;
    grid-template-columns: 0.5fr 1fr min-content;
    align-items: center;
    gap: 8rem;
    margin-bottom: 6rem;

    @include respond(tab-land) {
      display: flex;
      flex-direction: column;
      text-align: center;
      gap: 1.8rem;
    }

    @include respond(phone) {
      margin-bottom: 3.8rem;
    }

    p {
      color: $color-grey;
      font-size: 1.4rem;

      @include respond(tab-land) {
        margin-bottom: 1rem;
      }
    }
  }

  &__restaurants {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap: 3rem;
    justify-items: center;

    @include respond(tab-port) {
      grid-template-columns: repeat(auto-fit, minmax(33.5rem, 1fr));
    }

    @include respond(phone) {
      width: calc(100vw - 6rem);
      display: inline-flex;
      cursor: grab;
      transform: translateX(0);
      transition: transform 0.3s ease-out;
    }

    &__indicator {
      width: 100%;
      justify-content: center;
      margin-top: 4rem;
      user-select: none;
      display: none;

      @include respond(phone) {
        display: flex;
      }

      span {
        width: 16px;
        height: 16px;
        border-radius: 50%;
        background-color: rgba($color-primary, 0.1);

        &:not(:last-child) {
          margin-right: 18px;
        }
      }
    }
  }
}

.deals {
}

.stories {
}

.cta {
  grid-column: full-start / full-end;
  background-color: $color-primary;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(36rem, 1fr));
  row-gap: 6rem;
  column-gap: 2rem;
  align-items: center;
  padding: 4.2rem 16rem 0 16rem;

  @include respond(phone) {
    padding: 4.2rem 2rem 0 2rem;
    grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
  }

  @include respond(tab-port) {
    padding: 4.2rem 3rem 0 3rem;
  }

  &__content {
    margin: 3.7rem 0;

    @include respond(phone) {
      margin: 0;
    }

    p {
      font-size: 1.7rem;
      font-weight: 400;
      color: #fff;
      margin-top: 3rem;
      margin-bottom: 3.7rem;
    }

    > span {
      display: inline-block;
      font-size: 1.7rem;
      font-weight: 700;
      color: #fff;
      margin-bottom: 2rem;
    }
  }

  &__btn-container {
    display: flex;
    gap: 2.5rem;

    @include respond(phone) {
      gap: 10px;
    }
  }

  &__img {
    object-fit: contain;
    align-self: end;
    justify-self: center;
    width: 100%;

    @include respond(phone) {
      width: 80%;
    }
  }
}
